dtds/locations.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT locationset (location)*>

<!ELEMENT location (name | url | notes | city | state | county | latitude | longitude | system | report-url)*>

<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT notes (p)*>
<!ELEMENT p (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT county (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT system (#PCDATA)>
<!ELEMENT report-url (#PCDATA)>
