dtds/sightingset.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT sightingset (sighting)*>

<!ELEMENT sighting (date, abbreviation, location-name, notes*, exclude?, photo?, first?)>

<!ELEMENT abbreviation (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT location-name (#PCDATA)>
<!ELEMENT exclude (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT notes (p)*>
<!ELEMENT p (#PCDATA)>
